*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ms_logo{
    background-color: black;
    line-height: 40px;
}
.ms_logo img{
    height: 20px;
}
.ms_btn_radius{
    border-radius: 20px;
}
.ms_search_btn{
    border: none;
    color: rgba(0,0,0, .7);
    background-color: white;
    height: 100%;
}
.ms_search_btn:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}
.ms_my_ul{
    list-style-type: none;
}
/* Sezione Jumbotron */
.ms_bg_img{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    min-width: 100%;
    background-position: center;
}
.jumbo_tron{
    min-height: 600px;
    max-height: 650px;
}
.ms_img_w{
    width: 100%;
}
.ms_spacing_jumbo img{
    max-width: 400px;
}
.ms_spacing_jumbo{
    padding-top: 250px;
}
.ms_btns-ex{
    border-radius: 20px;
}
.ms_btns-ex:hover{
    border: 1px solid white;
}
/* sezione ratchet */
.ms_ratchet_imgs img{
    max-height: 200px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}
.ms_ratchet_imgs img:hover{
    outline: 1px solid blue;;
    transform: translate(0px, -15px);
    transition: .5s;
}
/* sezione bundle ps5 */
.ms_ps5_bundle h4{
    text-transform: uppercase;
    color: blue;
    font-size: 16px;
}
.ms_ps_dim img{
    max-width: 400px;
}
.ms_bundle_components img{
    max-height: 100px;
}
.ms_bundle_img_hover img{
    opacity: .6;
}
.ms_bundle_img_hover:hover img{
    opacity: 1;
    cursor: pointer;
}
.ms_bundle_img_hover:hover{
    border-bottom: 1px solid blue;
}
/* sezione jumbo 2 */
.ms_bg_img_2{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    min-width: 100%;
    background-position: center;
}
.ms_img_w_2{
    max-height: 300px;
}
/* sezione nuove uscite */
.ms_new_realases img{
    border-radius: 20px;
    margin: 10px;
}
/* sezione esplora ps4 */
.ms_explore_ps4 img{
  width: 100%;
}
/* sezione playstation plus */
.ms_bg_ps_plus{
    background-color: #bfbebd;
}
.ms_btns-ex_ps_plus{
    background-color: #dadbdd;
    color: blue;
    border-radius: 20px;
}
/* sezione ps now */
.ms_bg_ps_now{
    background-color: #0e1538;
    color: white;
}
/* footer */
footer{
    background-color: #00419e;
    color: white;
}
.ms_w_global{
    width: 20px;
}
.ms_w_ps_footer{
    width: 100px;
    display: block;
    margin: 10px;
}
.ms_ul_footer{
    padding-top: 20px;
    list-style: none;
}
footer ul li a{
    color: white;
    text-decoration: none;
    opacity: .7;
}
footer ul li a:hover{
    color: white;
    text-decoration: none;
    opacity: 1;
}